.about-us {
    height: 1685px;

    &__h2 {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 32px;
        margin-top: 55px;
        margin-bottom: 90px;

        &::after {
            content: "";
            position: absolute;
            display: block;
            background: url(../img/Стрелка.png) no-repeat;
            width: 73.3%;
            height: 11.5%;
            top: 19.5%;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 920px;
        margin-top: 35px;
    }

    &__ul {
        list-style-type: none;
        color: #ffffff;
        font-size: 20px;
        line-height: 1.2;
        margin: 0;
        padding: 0;
    }

    span {
        font-weight: bold;

    }

    &_red {
        color: $accent;
    }

    &__li {
        font-size: 32px;
    }

    &__btn {
        margin-top: 60px;
    }

    &__circs {
        position: relative;

        &::after {
            content: "";
            background: url(../img/Стрелкаbig.png) center center no-repeat;
            position: absolute;
            top: 11%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    &__app {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__img {
        z-index: 10;
    }

    &__title {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 32px;
        margin-top: 100px;
        margin-bottom: 55px;
        line-height: 1.2;
    }

    &__items {
        width: 70%;
        height: 575px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 85px;
    }

    &__one {
        width: 49%;
        height: 33.33%;
    }

    &__h3 {

        font-size: 32px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__p {
        font-size: 16px;
        color: #ffffff;
        line-height: 1;
    }

    &__button {
        margin-bottom: 25px;
    }

    &__last {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        position: absolute;
        bottom: -15%;
    }

    &__two {
        width: 33%;
        margin-left: 286px;
        margin-top: 60px;
    }

    &__three {
        width: 24%
    }

    &__arrow {
        position: absolute;
        right: -15%;
        transform: translate(50%);
        bottom: 15%;
    }

}