.opportunity {
  height: 560px;
  width: 100%;
  background-color: #fff;

  &__longline {
    text-align: center;
    margin-top: 90px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background: url(../img/arrow.png) center center no-repeat;
      width: 40px;
      height: 40px;
      left: -135px;
    }

    &::before {
      content: "";
      position: absolute;
      background: url(../img/arrow2.png) center center no-repeat;
      width: 40px;
      height: 40px;
      right: -135px;
    }

  }

  &__li {
    width: 275px;
    font-size: 32px;
  }

}

.title {
  display: flex;
  align-items: center;
  padding-top: 65px;

  &__border {
    border-bottom: 4px solid #000000;
    position: relative;
    width: 365px;

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 6px solid #000;

      width: 4px;
      height: 5px;
      color: #000;
      right: -11px;
      top: -5px;
    }

  }

  &__h3 {
    text-transform: uppercase;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin-left: 75px;
    line-height: 1.1;
  }
}