body {
  background-color: $primary;
  font: 16px/2em 'Roboto', serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.wrapper {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

img {
  margin: 0;
  padding: 0;
}

.reset-margin-padding {
  margin: 0;
  padding: 0;
}