button {
  height: 55px;
  width: 245px;
  padding: 20px 20px;
  text-transform: uppercase;
  text-decoration: underline;
  background-color: $accent;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: $main;
  border: none;
  font-weight: bold;
  letter-spacing: 1.8px;
  cursor: pointer;
}